<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.user.mapper.UserMapper">
	
	<select id="checkName" parameterType="java.lang.String" resultType="java.lang.String">
		select userName from tb_user where username = #{userName}
	</select>
	
	<insert id="addNewUser" parameterType="com.market.domain.UserRegistDomain">
		insert into tb_user (userId,phone,username,password,salt,random)
		values (#{userId},#{phone},#{userName},#{pass},#{salt},#{random})
	</insert>
	
</mapper>